# App name
APP_NAME=tanstack-boilerplate

# Database
DATABASE_URL=db.sqlite

# Redis (for bullmq job queue)
REDIS_URL=redis://localhost:6379

# Session

BASE_URL=http://localhost:3000
SESSION_SECRET="some-secret"

# Github OAuth
GITHUB_CLIENT_ID="github-client-id"
GITHUB_CLIENT_SECRET="github-client-secret"

# Discord OAuth
DISCORD_CLIENT_ID="discord-client-id"
DISCORD_CLIENT_SECRET="discord-client-secret"

# Email
RESEND_API_KEY="resend-api-key"
EMAIL_FROM="email@example.com"

# Admin users
ADMIN_USER_EMAILS="admin@example.com"

# Disable cronjobs
DISABLE_CRONJOBS=false

# Log level
LOG_LEVEL="info"
