node_modules

.history
.output
.vinxi

*.env
*.sqlite*
*.sqlite-journal*
*.sqlite-shm*
*.sqlite-wal*

.DS_Store
.idea
.pnpm-store

*.http
/test-results/
/coverage/
/playwright-report/
/blob-report/
/playwright/.cache/a

unhandled-requests/

.trigger