node_modules

.history
.output
.vinxi

*.env
*.sqlite*
*.sqlite-journal*
*.sqlite-shm*
*.sqlite-wal*

.DS_Store
.idea
.pnpm-store

*.http
/test-results/
/coverage/
/playwright-report/
/blob-report/
/playwright/.cache/

unhandled-requests/

.trigger

.test-app/

*storybook.log
storybook-static/
src/tests/storybook/**/*-snapshots/*
!src/tests/storybook/**/*-snapshots/*-linux.png
